@font-face {
    font-family: 'SE_Sans_Roman';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://CustFonts.github.io/SE SANS ROMAN/SiemensSans_Prof_Roman.ttf) format('truetype');
}
