@font-face {
    font-family: 'SE_Sans_Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://CustFonts.github.io/SE_SANS_BOLD/SiemensSans_Prof_Bold.ttf) format('truetype');
         
}
