@font-face {
    font-family: 'Siemens Sans Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://siemensenergyag.sharepoint.com/teams/M_SESACOperationsTeam/Shared%20Documents/SiemensSansBold/SiemensSans_Prof_Bold.ttf') format ('truetype');
         
}