/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori Icons';
  font-weight: normal;
  font-style: normal;
  src: url('https://CustFonts.github.io/SE_SAP_FIORI_ICONS/SAP-icons.ttf') format('truetype');
}
