@font-face {
    font-family: 'SE Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://CustFonts.github.io/SiemensSansBold/SiemensSans_Prof_Bold.ttf) format('truetype');
}
