@font-face {
    font-family: 'SiemensSansBold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://siemensenergyag.sharepoint.com/:u:/r/teams/M_SESACOperationsTeam/Shared%20Documents/SiemensSansBold/SiemensSansBold.woff') format ('woff');
         
}