@font-face {
    font-family: 'SiemensSansBold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://CustFonts.github.io/Fonts/SiemensSansBold.woff) format ('woff');
         
}
